<!DOCTYPE html>
<html lang="ja">

<head>
  <title><%- title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
<header>
  <div class="header_area">
    <div class="header_block">
      <div class="header_box">
        <h1><%- title %></h1>
        <h2><span id="year"></span>年</h2><br>
        <h2><span id="date"></span>分</h2>
        <nav class="navbar">
          <ul>
            <li><a href="/remind_ex">リマインド画面</a></li>
            <li><a href="/approve_ex">承認画面</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="contents_wrap">
      <div class="contents_area">
          <div class="content_block">